@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

.vr-logo {
    height: 6vh;
}

.banner-section {
    background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-responsive-website/vr-banner-bg.png");
    background-size: cover;
    height: 100vh;
    text-align: center;
}

.banner-caption {
    color: #ffffff;
    font-size: 38px;
    font-weight: bold;
}

.viewmore {
    height: 40px;
    width: 90px;
    text-align: center;
    border-radius: 5px;
    color: #ffffff;
    background-color: #1a2137;
}

#Navitem1 {
    color: #323f4b;
    font-weight: 500;
}

#Navitem2 {
    color: #323f4b;
    font-weight: 500;
}

#Navitem3 {
    color: #323f4b;
    font-weight: 500;
}

#Navitem4 {
    color: #323f4b;
    font-weight: 500;
}



.contact-us-section-container {
    background-color: #222b36;
}

.vr-section-heading {
    text-align: center;
    font-size: 27px;
    color: #fff;
    font-weight: bold;
}

.vr-image {
    width: 100%;
}